
@{
    ViewData["Title"] = "Add Two Numbers";
}

<h1>FormSum</h1>
<form action="../AddTheseNumbers/ResultSum" method="post">
    <div>
        <label>Enter number 1 </label>
        <input type="number" name="num1" />
    </div>
    <div>
        <label>Enter number 2 </label>
        <input type="number" name="num2" />
    </div>
    <div>
        <input type="submit" name="Add these numbers!" />
    </div>

</form>

