@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Check out our  <a href="../Mileage/MileageForm">Mileage Calculator</a>.</p>
        <p><a href="../AddTheseNumbers/FormSum">Add some numbers!</a>.</p>
        <p>You can also <a href="../Division/DivForm">Divide some numbers!</a></p>
        <p>Play some <a href="../MadLibs/MLForm">MadLibs!</a></p>
    </div>
