
@{
    ViewData["Title"] = "Mileage";
}

<h1>Mileage Form</h1>
<form action="../Mileage/MileageResult" method="post">
    <div>
        <label>Mileage (MPG) </label>
        <input id="mpg" type="number" name="mpg" />
    </div>
    <div>
        <label>Gallons in tank </label>
        <input id="gallons" type="number" name="gallons" />
    </div>
    <div>
        <label>Distance you would like to travel </label>
        <input type="number" name="distance" id="distance" />
    </div>

    <input type="submit" />

</form>

