
@{
    ViewData["Title"] = "Division Entry Form";
}

<h1>Divison Form</h1>
<form action="../Division/DivResults" method="post">
    <div>
        <label>Enter number you would like to divide </label>
        <input type="number" name="dividend" />
    </div>
    <div>
        <label>Enter number you would like to divide the previous number by</label>
        <input type="number" name="divisor" />
    </div>
    <div>
        <input type="submit" value="Divide" />
    </div>
</form>

