
@{
    ViewData["Title"] = "Divison Results";
}

@model Divide

<h1>Divison Results</h1>
@Model.Dividend divided by @Model.Divisor equals @Model.GetQuotient()
with a remainder of @Model.GetRemainder().

